// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// Main Wrapper (in ogni <section>)
.content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 105px;
}

img {
  width: 100%;
  display: block;
}


a {
  text-decoration: none;
}